<link rel="stylesheet" href="/css/addHabit.css">

<body>
    <div id="loginWrapper">
        <%- include('header'); %>
            <div id="content">
                <form action="/createnewhabit" id="addNewHabitForm" method="POST" onsubmit="showAlert()">
                    <table>

                        <tr>
                            <td>
                                <p>
                                    <label>Habit :</label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input type="text" name="habit" placeholder="Add new Habit">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Date :
                                </label>
                            </td>
                            <td>
                                <p>
                                    <input type="date" id="inputDate" name="date" value="<%=todayDate%>">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <label>Time :</label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input type="time" id="inputDateTime" name="time" value="<%=todayTime%>">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Status:</label>
                            </td>
                            <td>
                                <p>
                                    <select name="HabitStatus" id="habitStatus">
                                        <option value="Done">Done</option>
                                        <option value="Not Done">Not Done</option>
                                        <option value="None" selected="true">None</option>
                                    </select>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p>
                                    <input type="submit" id="btnLogin" value="Add Habit">
                                </p>
                            </td>
                        </tr>
                    </table>
                </form>
               
            </div>
            <%- include('footer'); %>
    </div>
</body>
<script src="../../js/script.js"></script>   
<script>
    function showAlert() {
        alert("Habit added successfully!");
    }
</script>
