<link rel="stylesheet" href="/css/addHabit.css">

<body>
    <div id="loginWrapper">
        <%- include('header'); %>
            <div id="content">
                <form action="/createnewhabit" id="addNewHabitForm" method="POST">
                    <table>

                        <tr>
                            <td>
                                <p>
                                    <label>Habit :</label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input type="text" name="habit" placeholder="Add new Habit">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <label>Time :</label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input type="time" id="inputDateTime" name="time" value="00:00">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <input type="submit" id="btnLogin" value="Add New Task">
                                </p>
                            </td>
                        </tr>
                    </table>
                </form>
               
            </div>
            <%- include('footer'); %>
    </div>
</body>
<script src="js/addHabit.js"></script>