<link rel="stylesheet" href="/css/calendarStyle.css">
<body>
    <%- include('header'); %>
    <h1>Habit Calendar</h1>
    <h2>Gym</h2>
    <div class="calendar">
        <!-- Calendar cells will be dynamically generated here -->
    </div>
    <h2>Book</h2>
    <div class="calendar">
        <!-- Calendar cells will be dynamically generated here -->
    </div>
    <h2>Running</h2>
    <div class="calendar">
        <!-- Calendar cells will be dynamically generated here -->
    </div>
    <%- include('footer'); %>
</body>
<script src="/js/calendarScript.js"></script>
