<!-- Include an external stylesheet for footer styling -->
<link rel="stylesheet" href="/css/footerStyle.css">

<!-- Footer section with an ID of "footer" for styling purposes -->
<footer id="footer">
    <strong>
        <!-- Label inside a strong tag for emphasizing the text -->
        <label>
            Track & Monitor your habits
        </label>
    </strong>
</footer>
