<link rel="stylesheet" href="/css/homeStyle.css">
<body>
    <div id="wrapper">
        <%- include('header'); %>
        <div id="content">
            <!-- Main content here -->
            <h2>
                List Of All Habits
            </h2>
            <div id="habitListDiv">
                <ul id="habitList">
                    <% for(habit of allHabitList){%>
                    <li>
                        <div id="liContainerDiv">
                            <label><a href="calendar"><%=habit.habitName%></a></label>
                            <label><%=habit.time%></a></label>
                            <form action="/statusUpdate">
                                <label>Track habit for </label>
                                <label id="dateTracker"></label>
                                <br>
                                <span>Status:</span>
                                <select name="HabitStatus" id="habitStatus">
                                  <option value="done">Done</option>
                                  <option value="notDone">Not Done</option>
                                  <option value="none" selected="true">None</option>
                                </select>
                                <br><br>
                                <input type="submit" value="Update Status">
                              </form>
                        </div>
                    </p>
                    </li>
                    <%} %>
                </ul>
            </div>
        </div>
        <div id="redirectIcon">
            <a href="addHabit">+</a>
        </div>
        <%- include('footer'); %>
    </div>
</body>
