<link rel="stylesheet" href="/css/loginStyle.css">
<body>
    <div id="loginWrapper">
        <%- include('header'); %>
        <div>
            &nbsp;
            <a href="javascript:void(0)" onclick="showLogin()">Login</a>
            &nbsp;
            <a href="javascript:void(0)" onclick="showSignup()">Sign Up</a>
        </div>
        <div id="content">
            <div id="loginDiv">
                <table>
                    <tr>
                        <td>
                            <p>
                                <label>Name :</label>
                            </p>
                        </td>
                        <td>
                        <p>
                            <input type="text" placeholder="Name or Email">
                        </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Password :</label>
                            </p>
                        </td>
                        <td>
                            <p>
                                <input type="password" placeholder="Password">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <p>
                            <input type="submit" id="btnLogin" value="Log In">
                           </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="signupDiv">
                <table>
                    <tr>
                        <td>
                            <p>
                                <label>User Name :</label>
                            </p>
                        </td>
                        <td>
                            <p>
                                <input type="text" placeholder="Name or Email">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Password :</label>
                            </p>
                        </td>
                        <td>
                            <p>
                                <input type="password" placeholder="Password">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Confirm Password :</label>
                            </p>
                        </td>
                        <td>
                            <p>
                                <input type="password" placeholder="Confirm Password">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <p>
                            <input type="submit" id="btnSignup" value="Sign Up">
                           </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <%- include('footer'); %>
    </div>
</body>
<script src="/js/loginScript.js"></script>