#content{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    padding-top: 50px;
}
#addNewHabitForm{
    background-color: blueviolet;
    padding-left: 35%;
}
#addNewHabitForm label{
    font-size: x-large;
    color: white;
}
#addNewHabitForm input{
 width: 200px;
 font-size: large;
}
#habitStatus{
    width: 200px;
    font-size: medium;
}

#btnLogin{
    font-size: large;
    background-color: greenyellow;
}
