#signupDiv{
    display: none;
}
#loginDiv{
    display: block;
}
/* #header{
    background-color: gray;
}
#header a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
} */

#content label{
    font-size: large;
}